.grid-blog
    display flex
    justify-content: space-between
    margin 5rem 0
    flex-wrap: wrap
    .posts-internal
        flex-basis 65%
        +below(62em)
            flex-basis 100%

.single
    padding 0 0 50px