.box-text
    max-width 70rem
    margin 5rem auto
    padding 0 2rem
    p, ul
        font-size 1.8rem
        line-height 2
        color: $color.text
        font-family: $font-family.secondary
        :not(:last-child)
            margin-top 2rem
    h2
        font-size 2rem
        color: $color.primary
        margin 2rem 0 1rem
        text-align left
        width 100%