.box-text
    width 74rem
    max-width 100%
    margin 5rem auto 0
    padding 0 2rem
    p
        font-size 1.8rem
        line-height 2
        color: $color.text
        font-family: $font-family.secondary
        max-width 70rem
        margin-top 2rem
        :not(:last-child)
            margin-top 2rem
    