.title-internal
    width 100%
    padding 5rem 2rem
    background-image: linear-gradient(to right, $color.secundary, #c83d8c, #ce5198)
    h1
        font-size 4rem
        color: $color.white
        text-align center
        +below(30rem)
            font-size 3rem