.ui-title
    font-size 3rem
    font-weight bold
    color: $color.primary
    padding-bottom 1rem
    position relative
    text-align center
    margin-bottom 1.5rem
    &:after
        position absolute
        bottom 0
        left 50%
        transform translateX(-50%)
        content ''
        width 3rem
        height 5px
        border-radius 2px
        background: $color.secundary